@model IEnumerable<InterfazBasica.Models.Pacs.PacienteDto>

@{
    ViewData["Title"] = "IndexPaciente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Lista de Pacientes</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="Paciente" asp-action="CrearPaciente" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i>Crear nuevo paciente</a>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Paciente" asp-action="CrearPaciente">Paciente</a>
            </li>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Sexo</th>
                <th>Peso</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.PatientID</td>
                    <td>@item.PatientName</td>
                    <td>@item.PatientAge</td>
                    <td>@item.PatientSex</td>
                    <td>@item.PatientWeight</td>
                </tr>
            }
        </tbody>
    </table>
</div>
