@*@model List<InterfazDeUsuario.Models.Dtos.PacsDto.StudyDto>*@

@model InterfazDeUsuario.ViewModels.StudiesMainListVM

@{
    ViewData["Title"] = "Listado Principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/StyleMainList2.css" />
}

<form method="post" class="form_style" asp-controller="Gateway">
    <main class="table">
        <section class="table__header">
            <h5>Estudios de ...</h5>
            <div class="input-group">
                <input type="search" placeholder="Search Data...">
                <i class='bx bx-search-alt'></i>
            </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th class="header-cell">Detalles<span class="icon-arrow">&UpArrow; </span> </th>
                        <th class="header-cell cab_patient">Paciente<span class="icon-arrow">&UpArrow; </span> </th>
                        <th class="header-cell cab_modality">Modalidad<span class="icon-arrow">&UpArrow; </span> </th>
                        <th class="header-cell cab_DescModal">Descripcion<span class="icon-arrow">&UpArrow; </span> </th>
                        <th class="header-cell cab_Study">Estudio<span class="icon-arrow">&UpArrow; </span> </th>
                        <th class="header-cell cab_StudyDate">Fecha del Estudio<span class="icon-arrow">&UpArrow; </span> </th>
                        @*<th class="header-cell">Parte examinada<span class="icon-arrow">&UpArrow; </span> </th>
                        <th class="header-cell">Descripcion<span class="icon-arrow">&UpArrow; </span> </th>
                        <th>Sucursal<span class="icon-arrow">&UpArrow; </span> </th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var study in Model.StudyList)
                    {
                        <tr>
                            <td>
                                <a asp-controller="MainListStudies" asp-action="SendStudyInfoToOHIF" asp-route-studyInstanceUID="@study.StudyInstanceUID" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
                            </td>
                            <td class="cab_patient">
                                @study.PatientName <br />
                                @* ID: @study.PatientID <br />*@
                            </td>
                            <td>@study.Modality</td>
                            <td>@study.DescModality</td>
                            <td>@study.StudyDescription</td>
                            <td>@study.StudyDate.ToShortDateString()</td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </main>
</form>

<script src="~/js/MainListScript.js"></script>

<a asp-action="IndexMainList"
   asp-route-pageNumber="@(1)" class="btn btn-outline-primary  000000">
    <i class="bi bi-skip-start-fill"></i>
</a>
<a asp-action="IndexMainList"
   asp-route-pageNumber="@(Model.PageNumber - 1)" class="btn btn-outline-primary @Model.Prev">
    Anterior
</a>
<span>Pagina @Model.PageNumber de @Model.TotalPages </span>
<a asp-action="IndexMainList"
   asp-route-pageNumber="@(Model.PageNumber + 1)" class="btn btn-outline-primary @Model.Next">
    Siguiente
</a>
<a asp-action="IndexMainList"
   asp-route-pageNumber="@Model.TotalPages" class="btn btn-outline-primary">
    <i class="bi bi-skip-end-fill"></i>
</a>

