@model InterfazBasica_DCStore.Models.ViewModels.ListadoPrincipalVM

@{
    ViewData["Title"] = "Listado Principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/StyleMainList.css" />
}


<div class="container p-4 my-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Listado Principal de Estudios</h1>
        </div>
        @*<div class="col text-end pt-1">
            <a asp-controller="Estudio" asp-action="CrearEstudio" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i>Crear nuevo estudio</a>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Estudio" asp-action="CrearEstudio">Estudio</a>
            </li>
        </div>*@
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Información del Paciente</th>
                <th>Modalidad</th>
                <th>Descripcion</th>
                <th>Descripción del Estudio</th>
                <th>Fecha del Estudio</th>
                <th>Parte examinada</th>
                <th>Descripcion</th>
                <th>Sucursal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var estudio in Model.MainListStudies)
            {
                <tr>
                    <td>
                        @estudio.PatientName <br />
                        ID: @estudio.PatientID <br />
                        Sexo: @estudio.PatientSex <br />
                        Edad: @estudio.PatientAge
                    </td>
                    <td>
                        @estudio.Modality
                    </td>
                    <td>@estudio.DescModality</td>
                    <td>@estudio.StudyDescription</td>
                    <td>@estudio.StudyDate.ToShortDateString()</td>
                    <td>@estudio.BodyPartExamined</td>
                    <td>@estudio.DescBodyPart</td>
                    <td>@estudio.InstitutionName</td>
                </tr>
            }
        </tbody>
    </table>
</div>